

<!-- Toolbar -->


<div class="content" >


    <div class="row">

      <div class="col-lg-6">

          
              <h1>Covid-19</h1>
            <h4 class="h4-text h4">Symptom Assessment Tool</h4>
          
            <h1>Jamaica's Online Triage</h1>
            
            <h1>for the Coronavirus</h1>
            <h4 class="h4">A Sagicor iLab Project</h4>

              <img src="../assets/doctors.png">

        </div>

          
      <!--LEFT SIDE WHERE ALL DATA IS LOAD-->
      <div class="col-lg-6"><!--Left column-->
          
 <div class="row">

  <div class="min-Text" >
    <span> Ministry of Health & Wellness</span> <b class="text">- Stats</b>
  </div>
  
  <div class="stats">
    <h4 >125</h4>
    <b>Cases</b>
  </div>
  <div class="stats">
    <h4>5</h4>
    <b>Death</b>
  </div>
  <div class="stats">
    <h4>21</h4>
    <b>Recovered</b>
  </div>
 </div>
       
            <div class="wrapper container">
              <!-- Sidebar Holder -->
              <nav id="sidebar">
                  <div class="sidebar-header">
                      
                  </div>
  
                  <ul class="list-unstyled components">
                      
                      <li id="side-symptom">
                        <a  id="symptom-text"> Symptoms</a>
                      </li>


                      <li id="side-condition">
                        <a id="condition-text"> Pre-Existing Condition</a>
                      </li>
                      
                      <li id="side-travel">
                        <a id="travel-text"> Travel History </a>

                      </li>

                      <li id="side-contact">
                        <a id="contact-text"> Contact</a>
                      </li>


                      <li id="side-personal">
                        <a  id="personal-text"> Personal Information</a>
                      </li>

                  </ul>
  

              </nav>
             
              <!-- Page Content Holder -->
              <div id="content">
                
                <router-outlet></router-outlet>
               </div>
          </div>

      </div>


    </div>


 
</div>


