:host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  p {
    margin: 0;
  }

  .spacer {
    flex: 1;
  }

  .toolbar {
    align:right;
    height: 60px;
    margin: -8px;
    display: flex;
    align-items: center;
    background-color: #1976d2;
    color: white;
    font-weight: 600;
  }

  .toolbar img {
    margin: 0 16px;
  }

  .toolbar #twitter-logo {
    height: 40px;
    margin: 0 16px;
  }

  .toolbar #twitter-logo:hover {
    opacity: 0.8;
  }

  .content {
    display: flex;
    margin: 32px auto;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
 
  }

  svg.material-icons {
    height: 24px;
    width: auto;
  }

  svg.material-icons:not(:last-child) {
    margin-right: 8px;
  }

  .card svg.material-icons path {
    fill: #888;
  }

  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 16px;
  }

  .card {
    border-radius: 4px;
    border: 1px solid #eee;
    background-color: #fafafa;
    height: 40px;
    width: 200px;
    margin: 0 8px 16px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    line-height: 24px;
  }

  .card-container .card:not(:last-child) {
    margin-right: 0;
  }

  .card.card-small {
    height: 16px;
    width: 168px;
  }

  .card-container .card:not(.highlight-card) {
    cursor: pointer;
  }

  .card-container .card:not(.highlight-card):hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 17px rgba(black, 0.35);
  }

  .card-container .card:not(.highlight-card):hover .material-icons path {
    fill: rgb(105, 103, 103);
  }

  .card.highlight-card {
    background-color: #1976d2;
    color: white;
    font-weight: 600;
    border: none;
    width: auto;
    min-width: 30%;
    position: relative;
  }

  .card.card.highlight-card span {
    margin-left: 60px;
  }

  svg#rocket {
    width: 80px;
    position: absolute;
    left: -10px;
    top: -24px;
  }

  svg#rocket-smoke {
    height: calc(100vh - 95px);
    position: absolute;
    top: 10px;
    right: 180px;
    z-index: -10;
  }

  a,
  a:visited,
  a:hover {
    color: #1976d2;
    text-decoration: none;
  }

  a:hover {
    color: #125699;
  }

  .terminal {
    position: relative;
    width: 80%;
    max-width: 600px;
    border-radius: 6px;
    padding-top: 45px;
    margin-top: 8px;
    overflow: hidden;
    background-color: rgb(15, 15, 16);
  }

  .terminal::before {
    content: "\2022 \2022 \2022";
    position: absolute;
    top: 0;
    left: 0;
    height: 4px;
    background: rgb(58, 58, 58);
    color: #c2c3c4;
    width: 100%;
    font-size: 2rem;
    line-height: 0;
    padding: 14px 0;
    text-indent: 4px;
  }

  .terminal pre {
    font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
    color: white;
    padding: 0 1rem 1rem;
    margin: 0;
  }

  .circle-link {
    height: 40px;
    width: 40px;
    border-radius: 40px;
    margin: 8px;
    background-color: white;
    border: 1px solid #eeeeee;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: 1s ease-out;
  }

  .circle-link:hover {
    transform: translateY(-0.25rem);
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  }

  footer {
    margin-top: 8px;
    display: flex;
    align-items: center;
    line-height: 20px;
  }

  footer a {
    display: flex;
    align-items: center;
  }

  .github-star-badge {
    color: #24292e;
    display: flex;
    align-items: center;
    font-size: 12px;
    padding: 3px 10px;
    border: 1px solid rgba(27,31,35,.2);
    border-radius: 3px;
    background-image: linear-gradient(-180deg,#fafbfc,#eff3f6 90%);
    margin-left: 4px;
    font-weight: 600;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
  }

  .github-star-badge:hover {
    background-image: linear-gradient(-180deg,#f0f3f6,#e6ebf1 90%);
    border-color: rgba(27,31,35,.35);
    background-position: -.5em;
  }

  .github-star-badge .material-icons {
    height: 16px;
    width: 16px;
    margin-right: 4px;
  }

  svg#clouds {
    position: fixed;
    bottom: -160px;
    left: -230px;
    z-index: -10;
    width: 1920px;
  }


  /* Responsive Styles */
  @media only screen and (max-width: 736px) {
    .container{
      border:1px solid rgb(224, 224, 224);
      height:600px;
      width:400px;
      border-radius: 15px;
      background-color: #fff;
      padding-left:0px;
      box-shadow:15px 20px rgba(207, 207, 207, 0.5);
      padding-left: 100px;
  
  }



    #sidebar {
      border-radius: 15px  0px 0px 15px;

        width: 100px;
      
        background: rgba(132,189,0,1);
        color: #fff;
        transition: all 0.3s;
      

    }

    #sidebar ul li a {
      padding: 10px;
      font-size: 0.6em;
      display: block;
      color:#fff;

  }


  h1{
    font-size: 20px;
    margin-left:100px;
  }

  .h4{
    font-size: 12px;
    margin-left:100px;
  }

  .stats h4{
    font-size: 12px;
  }
  .h4-text{
    padding-bottom: 10px;
    margin-left:100px;
  }

  .stats b{
    font-weight: 600;
    font-size: 12px;
  }

  img{
    height:130px;
    width:150px;
   margin-left:100px;
  }


  .min-Text{
    margin-top: 25px;
    font-size: 12px;
    }


  }

  @media screen and (max-width: 667px) {

    .container{
      border:1px solid rgb(224, 224, 224);
      height:600px;
      width:450px;
      border-radius: 15px;
      background-color: #fff;
      padding-left:0px;
      box-shadow:15px 20px rgba(207, 207, 207, 0.5);
      padding-left: 20px;
  
  }



    #sidebar {
      border-radius: 15px  0px 0px 15px;

        width: 100px;
      
        background: rgba(132,189,0,1);
        color: #fff;
        transition: all 0.3s;
      

    }

    #sidebar ul li a {
      padding: 10px;
      font-size: 0.6em;
      display: block;
      color:#fff;

  }


  h1{
    font-size: 20px;
    margin-left:100px;
  }

  .h4{
    font-size: 12px;
    margin-left:100px;
  }

  .stats h4{
    font-size: 14px;
  }
  .h4-text{
    padding-bottom: 10px;
    margin-left:100px;
  }

  .stats b{
    font-weight: 600;
    font-size: 12px;
  }

  img{
    height:130px;
    width:150px;
   margin-left:100px;
  }


  .min-Text{
    margin-top: 25px;
    font-size: 10px;
    }
    

  }/**End of media queries*/
  

  @media screen and (max-width: 568px) {

    .container{
      border:1px solid rgb(224, 224, 224);
      height:600px;
      width:450px;
      border-radius: 15px;
      background-color: #fff;
      padding-left:0px;
      box-shadow:15px 20px rgba(207, 207, 207, 0.5);
      padding-left: 20px;
  
  }



    #sidebar {
      border-radius: 15px  0px 0px 15px;

       
    min-width: 15%;
    max-width: 15%;
      
        background: rgba(132,189,0,1);
        color: #fff;
        transition: all 0.3s;
      

    }

    #sidebar ul li a {
      padding: 10px;
      font-size: 0.6em;
      display: block;
      color:#fff;

  }


  h1{
    font-size: 20px;
    margin-left:100px;
  }

  .h4{
    font-size: 12px;
    margin-left:100px;
  }

  .stats h4{
    font-size: 14px;
  }
  .h4-text{
    padding-bottom: 10px;
    margin-left:100px;
  }

  .stats b{
    font-weight: 600;
    font-size: 12px;
  }

  img{
    height:130px;
    width:150px;
   margin-left:100px;
  }


  .min-Text{
    margin-top: 25px;
    font-size: 12px;
    }
    

  }/**End of media queries*/



  /*

  --------Custom css
  */

  a{
    color: black;
    font-weight: 500;
  }

  a.active{
    color:black;
  }

  p{
    color:rgb(167, 165, 165);
}
h3{
    color:black;
}

.container{
    border:1px solid rgb(224, 224, 224);
    height:600px;
    border-radius: 15px;
    background-color: #fff;
    padding-left:0px;
    box-shadow:15px 20px rgba(207, 207, 207, 0.5);

}
.side-nav-bar
{
    
    height:600px;
    width:20%;
    background-color: rgba(132,189,0,1);
    
}

.submit-btn{
    background-color: #000;
    border-radius: 50px;
    color:white;
    width:90px;
    height:30px;
    margin:auto;
}
  

.h4-text{
  padding-bottom: 20px;
}



body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
.wrapper {
    display: flex;
   
}

#sidebar {
  border-radius: 15px  0px 0px 15px;

    min-width: 35%;
    max-width: 35%;
    background: rgba(132,189,0,1);
    color: #fff;
    transition: all 0.3s;
   

}


#sidebar .sidebar-header {
    padding: 20px;
    background: rgba(132,189,0,1);
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #FFF;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
    color:#fff;
}
#sidebar ul li a:hover {
    color: rgba(132,189,0,1);
    background: #fff;
}







ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #fff;
}




ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}



a.article, a.article:hover {
    background: rgba(132,189,0,1) !important;
    color: #fff !important;
}



/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */


.text{
  display: inline;
}

span{
  color:rgb(0, 195, 255);
  font-weight: 500;
}

.min-Text{
margin-top: 25px;
padding-right: 2px;
}

.stats{
  padding-right: 10px;
}



