<div class="content">


<h4>Thank you for your cooperation</h4>

<hr class="line">

<p> Please contact 1-888-663-5683 for further information.</p>



<p *ngIf="user.symptom_none==='N' || user.travel!==''   ||  user.contact_confirm==='Y'
||  user.contact_suspect==='Y'||  user.contact_symptom==='Y' ||  user.contact_travel==='Y'

"> 
    Pleace practice self isolation and social distancing. 
    <br>
    
    You will be contacted by the Ministry of Health and Wellness.  
</p>

<button type="submit" class="submit-btn" (click)="next()">Ok</button>

</div>
