
   <!--

<div class="row float" >
  <div clas="col-lg-3">
    <div class="page-number-card  complete" id="one" >

      <label >1</label>
    </div>
  </div>

  <div clas="col-lg-3">
    <div class="page-number-card  incomplete" id="two">

      <label >2</label>
    </div>
  </div>

  <div clas="col-lg-3">

    <div class="page-number-card  incomplete" id="two">

      <label >3</label>
    </div> 

  </div>

  <div clas="col-lg-3">

    <div class="page-number-card  incomplete" id="two">

      <label >4</label>
    </div> 

  </div>

  <div clas="col-lg-3">

    <div class="page-number-card  incomplete" id="two">

      <label >5</label>
    </div> 

  </div>



</div>


-->


  <h3>Symptoms</h3>

  <hr class="line">

  <P><b>

   Please select ALL the symptoms below that apply to you.
</b></P>


<div class="scroll">



  <div class="row">
          
    <div class="col-lg-6">
      <div class="card"  id="fever" (click)="changeFever()">

        <label >Fever</label>

      </div>
    </div>

    <div class="col-lg-6">
      <div class="card" id="cough" (click)="changeCough()">

        <label >Cough</label>
    
      </div>
    </div>
  </div>



        <div class="card" id="fatique" (click)="changeFatigue()">

          <label >Fatigue</label>
      
        </div>

        <div class="card" id="breathing" (click)="changeBreathing()">

          <label >Shortness of breath</label>

        </div>

      

        <div class="card" (click)="runnyNose()" id="nose">

          <label for="symptom_running_nose">Runny Nose</label>

        </div>

        <div class="card" id="chest" (click)="changeChest()">

          <label >Chest Pain</label>

        </div>

        <div class="card" id="throat" (click)="changeThroat()">

          <label >Sore Throat</label>

        </div>





        <div class="form-group">
          <label for="date">First Symptom Date</label>
          <input type="date" class="form-control" id="inputField" placeholder="Symptom Date"  [(ngModel)]="user.symptom_date">
        </div>


        <h3>OR</h3>



        <div class="card" id="no-symptom" (click)="changeNoSymptom()">

          <label >No symptom</label>

        </div>


</div>


  <button type="submit" class="submit-btn" (click)="next()">Next</button>