   

<div class="row" style="float: right">
        <div clas="col-lg-3">
          <div class="page-number-card  complete"  >
      
            <label >1</label>
          </div>
        </div>
      
        <div clas="col-lg-3">
          <div class="page-number-card  complete" >
      
            <label >2</label>
          </div>
        </div>
      
        <div clas="col-lg-3">
      
          <div class="page-number-card  complete" >
      
            <label >3</label>
          </div> 
      
        </div>
      
        <div clas="col-lg-3">
          <div class="page-number-card  incomplete" >
      
            <label >4</label>
          </div>
        </div>
      
        <div clas="col-lg-3">
          <div class="page-number-card  incomplete" id="two">
      
            <label >5</label>
          </div>
        </div>
   </div>




   <h3>Travel</h3>

    <hr class="line">
    <div class="scroll">







        <h6>Travel History</h6>
    <P><b>
        Have you travelled outside of Jamaica in the past 30 days?
      </b></P>

    <div class="row">

        <div class="col-lg-4"> 
            <div class="btn-card " id="yes" (click)="show()">
        
              <label >Yes</label>
            </div>
        </div>
        
        
        <div class="col-lg-4"> 
            <div class="btn-card " id="no" (click)="hide()">
        
              <label >No</label>
            </div>
        </div>
          
        </div>


            <ng-template [ngIf]="showConditions">

                <div >

                <label >List of all the countries visited during your travel.</label>
                <input type="text" class="form-control" id="inputField" placeholder="Eg:Bahamas, Cuba"  [(ngModel)]="user.countries">
                </div>

                  <br>


                <div class="row">

                    <div class="col-lg-6"> 
                        
                <div class="form-group">
                    <label >Departure Date</label>
                    <input type="date" class="form-control" id="inputField" placeholder="Departure Date"  [(ngModel)]="user.departure_date">
                    </div>
                    </div>
                    
                    
                    <div class="col-lg-6"> 
                       

                <div class="form-group">
                    <label >Arrival Date</label>
                    <input type="date" class="form-control" id="inputField" placeholder="Arrival Date"  [(ngModel)]="user.arrival_date">
                    </div>
                    </div>
                      
                    </div>



                    <br>
                    <label >Flight Details</label>
                <div class="row">

                    <div class="col-lg-6"> 
                        
                <div class="form-group">
                  
                     <input type="text" class="form-control" id="inputField" placeholder="Flight Number"  [(ngModel)]="user.flight_number">
                    </div>
                    </div>
                    
                    
                    <div class="col-lg-6"> 
                       

                            <div class="form-group">
                            
                                <input type="text" class="form-control" id="inputField" placeholder="Departure Port"  [(ngModel)]="user.departure_port">
                            </div>
                    </div>
                      
                    </div>

                    <br>
                    <div class="form-group">
                            
                        <input type="text" class="form-control" id="inputField" placeholder="Arrival Port"  [(ngModel)]="user.arrival_port">
                    </div>

        </ng-template>
        </div>




    <button type="submit" class="submit-btn" (click)="next()">Next</button>