
h3{
    color:black;
}



.submit-btn{
    background-color: #000;
    border-radius: 50px;
    color:white;
    width:90px;
    height:30px;
    margin:50px;
}

.line{
    color: #000;
    margin-right:80px;
    border: 2px solid #000;
  }
  .card {
    border-radius: 4px;
    border: 1px solid #eee;
    background-color: #fafafa;
    height: 40px;
    width: 200px;
    margin: 0 8px 16px;
    padding: auto;
    display:inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    line-height: 24px;
  }

  label{
      margin-right:4px
  }

  #diabetes{
    background-color: #fafafa;
  }

  #hypertension{
    background-color: #fafafa;
  }

  #respitory{
    background-color: #fafafa;
  }

  /**
  Media Queries
  */

  @media screen and (max-width: 575px) {

    h3{
        font-size: 20px;
    }

    p b{
        font-size: 10px;
        font-weight: 600;
    }


    label{
        font-size: 12px;
    }

}


@media only screen and (max-width: 768px) {
  h3{
    font-size: 20px;
}

p b{
    font-size: 10px;
    font-weight: 600;
}


label{
    font-size: 12px;
}
}