



<div class="row float" >
  <div clas="col-lg-3">
    <div class="page-number-card  complete" id="one" >

      <label >1</label>
    </div>
  </div>

  <div clas="col-lg-3">
    <div class="page-number-card  complete" id="two">

      <label >2</label>
    </div>
  </div>

  <div clas="col-lg-3">

    <div class="page-number-card  incomplete" id="two">

      <label >3</label>
    </div> 

  </div>

  <div clas="col-lg-3">
    <div class="page-number-card  incomplete" id="two">

      <label >4</label>
    </div>
  </div>


</div>

<h3>Pre-Existing Conditions</h3>
        
<hr class="line">

<P><b>
  Do you have any chronic medical conditions?
</b></P>

<div class="row">

<div class="col-lg-4"> 
    <div class="btn-card " id="yes" (click)="show()">

      <label >Yes</label>
    </div>
</div>


<div class="col-lg-4"> 
    <div class="btn-card " id="no" (click)="hide()">

      <label >NO</label>
    </div>
</div>
  
</div>

<ng-template [ngIf]="showConditions">

  <P><b>
    Please select ALL that apply to you?
  </b></P>



  <div class="row">

    <div class="col-lg-6"> 
      <div class="new-card" id="heart" (click)="changeHeart()">

        <label >Heart Disease</label>
      
      </div>
    </div>
    
    
    <div class="col-lg-6"> 
      <div class="new-card" id="diabetes" (click)="changeDiabetes()">

        <label >Diabetes</label>
      </div>
    </div>
      
    </div>






    <div class="card" id="hypertension" (click)="changeHypertension()">

      <label >Hypertension</label>
    </div>




    <div class="card" id="lung" (click)="changeLung()">

      <label >Lung Desease</label>
    
    </div>

    <div class="card" id="sickle" (click)="changeSickle()">

      <label >Sickle Cell </label>
    
    </div>




</ng-template>



    <button type="submit" class="submit-btn" (click)="next()">Next</button>