

<h3>Pre-Existing Condions</h3>
        
<hr class="line">

<P><b>
  Do you have any chronic medical conditions?
  Select the ones that apply to you.
</b></P>
<div class="card" id="diabetes" (click)="changeDiabetes()">

  <label >Diabetes</label>
</div>


<div class="card" id="hypertension" (click)="changeHypertension()">

  <label >Hypertension</label>
</div>

<div class="card" id="respitory" (click)="changeRespitory()">

  <label >Respitory Problem:</label>
 
</div>


    <button type="submit" class="submit-btn" (click)="next()">Next</button>