

<h3>Pre-Existing Condions</h3>
        
<hr class="line">

<P><b>
  Do you have any chronic medical conditions?
</b></P>

<div class="row">

<div class="col-lg-4"> 
    <div class="btn-card " id="yes" (click)="show()">

      <label >Yes</label>
    </div>
</div>


<div class="col-lg-4"> 
    <div class="btn-card " id="no" (click)="hide()">

      <label >NO</label>
    </div>
</div>
  
</div>

<ng-template [ngIf]="showConditions">
      <div class="card" id="diabetes" (click)="changeDiabetes()">

      <label >Diabetes</label>
    </div>


    <div class="card" id="hypertension" (click)="changeHypertension()">

      <label >Hypertension</label>
    </div>

    <div class="card" id="respitory" (click)="changeRespitory()">

      <label >Respitory Problem:</label>
    
    </div>
</ng-template>



    <button type="submit" class="submit-btn" (click)="next()">Next</button>