    <h3>Contact & Travel History</h3>

    <hr class="line">

    <P><b>
        Have you been within 6ft of a person with lab-confirmed case of Covid-19 in the past 14 days?
      </b></P>

    <div class="row">

        <div class="col-lg-4"> 
            <div class="btn-card " id="yes" (click)="show()">
        
              <label >Yes</label>
            </div>
        </div>
        
        
        <div class="col-lg-4"> 
            <div class="btn-card " id="no" (click)="hide()">
        
              <label >NO</label>
            </div>
        </div>
          
        </div>

    <div class="card" id="travel" (click)="changeTravel()">

    <label >Travel</label>
    </div>

    <div class="form-group">
    <label for="age">Travel Date</label>
    <input type="date" class="form-control" id="inputField" placeholder="Travel Date"  [(ngModel)]="user.travel_date">
    </div>

    <div class="card" id="contact" (click)="changeContact()">

    <label >Contact Travel</label>
    </div>




    <div class="card" id="contactFlu" (click)="changeContactFlu()">

    <label >Contact with flu:</label>
    </div>


    <button type="submit" class="submit-btn" (click)="next()">Next</button>